/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.my-txt-clr{
    color:rgba(182, 182, 182, 0.712);
}
.my-light{
    color: white !important;
}
.carousel-item .content-wrapper{
    background-image: linear-gradient(rgba(0, 0, 0,.9),rgba(0, 0, 0,.9)),url("./images/cover/cover-1.png");
    background-size: cover;
    background-position: center;
    min-height: min(90vh,60vw);
}
.carousel-item:nth-of-type(2) .content-wrapper{
    background-image: linear-gradient(rgba(0, 0, 0,.9),rgba(0, 0, 0,.9)),url("./images/cover/cover-2.jpg");
}
.carousel-item:nth-of-type(3) .content-wrapper{
    background-image: linear-gradient(rgba(0, 0, 0,.9),rgba(0, 0, 0,.9)),url("./images/cover/cover-3.jpg");
}
img.my-imgae-controller{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.see-more::after{
    content: "see-more";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 20px;
}
.my-shadow{
    box-shadow: 3px 20px 25px rgba(3, 15, 184, 0.08);
}
.accordion-button:focus{
    outline: 2px solid white !important;
    box-shadow: none;
}
.accordion-button::after{
    filter: grayscale(6) brightness(11.5);
}